/* *{
    outline:1px solid chartreuse;
} */
@font-face{
    font-family: 'Source Code Pro';
    src: local('Source Code Pro');
}
body{
    font-family: 'Source Code Pro';
    font-weight: bolder;
    color:#3F5D45;
}
a{
    color:#3F5D45;
    text-decoration: none;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}   
li{
    text-decoration: none;
}
.container{
    max-width: 1024px;
    padding: 30px 42px 0px 42px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 1px solid #EAF0ED;
    border-left: 1px solid #EAF0ED;
}


/* header-start */
.header{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
}
h1 {
    display: flex;
}
.rwd-nav span{
    display: none;
}
.logo a{
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.logo-img{
    width: 40px;
    height: 40px;
}
.logo-text{
    width: 171.22px;
    height: 26.6px;
    margin-left: 8.27px;
}
.navbar{
    line-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.rwd-nav a{
    display: inline;
}
.navbar li{
    display: inline;
    white-space: nowrap;
    line-height: 40px;
    margin: auto 0px auto 60px;
}
.navbar li:nth-child(1){
    margin-left: 0;
}
.navbarPage a{
    display: inline-block;
    line-height: 40px;
}
.navbarCart span{
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 3px;
}
/* header-end */


/* footer-start */
.regsiter{
    margin: 0 auto;
    max-width: 1024px;
    min-height: 116px;
    background-color: #3F5D45;
    display: flex;
    justify-content: center;
}
.regsiterWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 780px;
}
.logo-mail{
    margin: auto;
    display: flex;
    align-items: center;
}
.logo-mail img{
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
.logo-mail span{
    font-size: 24px;
    color: #EAF0ED;
    font-weight: normal;
    white-space: nowrap;
    margin-left: 20px;
    line-height: 40px;
    vertical-align: middle;
}
.mailSendBar{
    display: flex;
    max-width: 380px;
    height: 56px;
    background-color: #EAF0ED;
    justify-content: space-between;
    margin: auto;
}
.mailSendBar span{
    margin: 16px 20px;
}
.mailSendBar input{
    background-color: #EAF0ED;
    width: 100%;
    font-size: 20px;
    margin: auto;
    height: 90%;
    border: 0;
}
.sendMailButton a{
    height: 56px;
    width: 64px;
    background-color: #FFE180;
    display: block;
}


.footer{
    min-height: 341px;
    max-width: 1024px;
    background-color: #EAF0ED;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 30px;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 38.9px;
    min-height: 272.1px;
}
.information img{
    height: 26.6px;
}

.socialLink p{
    white-space: nowrap;
    margin-bottom: 30px;
    line-height: 24px;
}
.socialLink a{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
}
.socialLink img{
    height: 32px;
    width: 32px;
    margin: 0px;
    border-radius: 20%;
    vertical-align: middle;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.copyright p{
    font-weight: lighter;
    font-family: sans-serif;
    white-space: nowrap;
    line-height: 19px;
    font-size: 16px;
}
.slogan{
    display: flex;
    justify-content: flex-end;
}
.slogan img{
    width: 59.28px;
}
/* footer-end */




/* login-page-start */
.login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 100%;
}

.loginTitle{
    font-size: 36px;
    color: #EAF0ED;
    line-height: 50px;
    height: 50px;
    margin: 40px;
    text-align: center;
}

.rwd-saveMyId{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #EAF0ED;
    max-width: 375px;
    width: 100%;
    height: 116px;
    margin-bottom: 30px;
}
.rwd-saveMyId a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 105px;
    outline:  0.5px solid #EAF0ED;
    background-color: #FFFFFF;
}
.rwd-linkFacebook img{
    width: 83.4px;
}
.rwd-linkGoogle img{
    width: 72.64px;
}
.rwd-linkYahoo img{
    width: 74.41px;
}

.loginKeyin{
    max-width: 390px;
    width: 100%;
    background-color: #3F5D45;
}
.inputKey{
    display: flex;
    vertical-align: middle;
    margin: 0px 30px 16px 30px;
}
.inputKey span{
    line-height: 56px;
    width: 24px;
    border-left: 20px solid #EAF0ED;
    border-right: 20px solid #EAF0ED;
    background-color: #EAF0ED;
}
.inputKey input{
    max-width: 266px;
    width: 100%;
    font-size: 16px;
    line-height: 56px;
    color: #8DA291;
    background-color: #EAF0ED;
    padding: 0;
    border: 0;
}

.saveMyId{
    display: flex;
    font-size: 16px;
    color: #EAF0ED;
    line-height: 16px;
    height: 16px;
    margin: 0px 30px 22px 30px;
}
.saveMyId input{
    margin: 0px 8px 0px 0px;
    height: 16px;
    width: 16px;
}

.login-Button{
    display: inline-block;
    background-color: #FFE180;
    height: 65px;
    font-size: 24px;
    line-height: 65px;
    max-width: 390px;
    width: 100%;
    text-align: center;
}


.connectID{
    background-color: #EAF0ED;
    height: 350px;
    max-width: 390px;
    width: 100%;
    margin: auto 0px;
}
.connectID a{
    display: flex;
    justify-content: center;
    height: 56px;
    width: 100%;
}

.linkTitle{
    margin: 40px 67px 36px 67px;
    text-align: center;
}
.linkTitle span{
    color: #8DA291;
    background-color: #EAF0ED;
    font-weight: lighter;
    font-size: 24px;
    height: 33px;
    line-height: 33px;
    white-space: nowrap;
}
.linkTitle ~ li{
    background-color: #FFFFFF;
    height: 56px;
    max-width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 16px auto;
}

.linkFacebook img{
    width: 108.18px;
}
.linkGoogle img{
    width: 94.22px;
}
.linkYahoo img{
    width: 96.52px;
}
/* login-page-end */




/* RWD-start */
@media(max-width: 767px){
    .container{
        max-width: 375px;
        width: 375px;
        padding: 0px;
        outline: 0px;
        border: 0px;
    }
    /* header-start */
    .header{
        padding: 30px;
        width: 100%;
        max-width: 375px;
        box-sizing: border-box;
    }
    .header h1{
        width: 68.25%;
        display: flex;
        justify-content: space-between;
    }
    .navbar li{
        margin: 0px;
    }
    .rwd-nav span{
        display: inline-block;;
    }
    ul .rwd-nav{
        display: none;
    }
    .rwd-nav a{
        display: none;
    }
    .logo-img{
        display: none;
    }
    .logo img{
        height: 17.74px;
        width: 114px;
    }
    /* header-end */

    /* footer-start*/
    .regsiter{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .logo-mail{
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
    .logo-mail img{
        margin: 0;
    }
    .logo-mail a{
        margin: auto 0;
    }

    .mailSendBar{
        margin: 30px auto;
    }

    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact{
        font-weight: bolder;
    }
    .copyright{
        margin-top: 30px;
    }
    .slogan img{
        display: none;
    }
    /* footer-end */


    /* login-page-start */
    .loginTitle{
        margin: 30px;
    }
    .rwd-saveMyId{
        display: flex;
    }
    .login{
        margin: 0px auto;
    }
    .connectID{
        display: none;
    }
    /* login-page-end */


}
/* RWD-end */




