/* *{
    outline:1px solid chartreuse;
} */
@font-face{
    font-family: 'Source Code Pro';
    src: local('Source Code Pro');
}
body{
    font-family: 'Source Code Pro';
    font-weight: bolder;
    color:#3F5D45;
}
a{
    color:#3F5D45;
    text-decoration: none;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}   
li{
    text-decoration: none;
}
.container{
    max-width: 1024px;
    padding: 30px 42px 0px 42px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 1px solid #EAF0ED;
    border-left: 1px solid #EAF0ED;
}


/* header-start */
.header{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
}
h1 {
    display: flex;
}
.rwd-nav span{
    display: none;
}
.logo a{
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.logo-img{
    width: 40px;
    height: 40px;
}
.logo-text{
    width: 171.22px;
    height: 26.6px;
    margin-left: 8.27px;
}
.navbar{
    line-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.rwd-nav a{
    display: inline;
}
.navbar li{
    display: inline;
    white-space: nowrap;
    line-height: 40px;
    margin: auto 0px auto 60px;
}
.navbar li:nth-child(1){
    margin-left: 0;
}
.navbarPage a{
    display: inline-block;
    line-height: 40px;
}
.navbarCart span{
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 3px;
}
/* header-end */


/* footer-start */
.regsiter{
    margin: 0 auto;
    max-width: 1024px;
    min-height: 116px;
    background-color: #3F5D45;
    display: flex;
    justify-content: center;
}
.regsiterWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 780px;
}
.logo-mail{
    margin: auto;
    display: flex;
    align-items: center;
}
.logo-mail img{
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
.logo-mail span{
    font-size: 24px;
    color: #EAF0ED;
    font-weight: normal;
    white-space: nowrap;
    margin-left: 20px;
    line-height: 40px;
    vertical-align: middle;
}
.mailSendBar{
    display: flex;
    max-width: 380px;
    height: 56px;
    background-color: #EAF0ED;
    justify-content: space-between;
    margin: auto;
}
.mailSendBar span{
    margin: 16px 20px;
}
.mailSendBar input{
    background-color: #EAF0ED;
    width: 100%;
    font-size: 20px;
    margin: auto;
    height: 90%;
    border: 0;
}
.sendMailButton a{
    height: 56px;
    width: 64px;
    background-color: #FFE180;
    display: block;
}


.footer{
    min-height: 341px;
    max-width: 1024px;
    background-color: #EAF0ED;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 30px;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 38.9px;
    min-height: 272.1px;
}
.information img{
    height: 26.6px;
}

.socialLink p{
    white-space: nowrap;
    margin-bottom: 30px;
    line-height: 24px;
}
.socialLink a{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
}
.socialLink img{
    height: 32px;
    width: 32px;
    margin: 0px;
    border-radius: 20%;
    vertical-align: middle;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.copyright p{
    font-weight: lighter;
    font-family: sans-serif;
    white-space: nowrap;
    line-height: 19px;
    font-size: 16px;
}
.slogan{
    display: flex;
    justify-content: flex-end;
}
.slogan img{
    width: 59.28px;
}
/* footer-end */




/* checkoutSuccess-page-start */
.checkoutSuccess{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    background-image: url(/sweetasteCheckoutSuccess/img/banner.jfif);
    background-size: cover;
    background-position: center;
}
.checkoutSuccess div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkoutSuccess img{
    width: 189.36px;
    margin-bottom: 51.34px;
}
.checkPath{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    height: 24px;
    width: 190px;
    margin: 128px 0px 30.2px 0px;
}
.checkPath li{
    fill: #3F5D45;
}

.connect span{
    vertical-align: middle;
    transform: scale(5, 0.5);
}
.checkoutSuccess a{
    font-size: 24px;
    line-height: 65px;
    height: 65px;
    width: 300px;
    background-color: #FFE180;
    margin-bottom: 116px;
}
/* checkoutSuccess-page-end */




/* RWD-start */
@media(max-width: 767px){
    .container{
        max-width: 375px;
        width: 375px;
        padding: 0px;
        outline: 0px;
        border: 0px;
    }
    /* header-start */
    .header{
        padding: 30px;
        width: 100%;
        max-width: 375px;
        box-sizing: border-box;
    }
    .header h1{
        width: 68.25%;
        display: flex;
        justify-content: space-between;
    }
    .navbar li{
        margin: 0px;
    }
    .rwd-nav span{
        display: inline-block;;
    }
    ul .rwd-nav{
        display: none;
    }
    .rwd-nav a{
        display: none;
    }
    .logo-img{
        display: none;
    }
    .logo img{
        height: 17.74px;
        width: 114px;
    }
    /* header-end */

    /* footer-start*/
    .regsiter{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .logo-mail{
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
    .logo-mail img{
        margin: 0;
    }
    .logo-mail a{
        margin: auto 0;
    }

    .mailSendBar{
        margin: 30px auto;
    }

    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact{
        font-weight: bolder;
    }
    .copyright{
        margin-top: 30px;
    }
    .slogan img{
        display: none;
    }
    /* footer-end */


    /* checkoutSuccess-page-start */
    .checkoutSuccess{
        margin: 0;
        height: 583px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .checkoutSuccess ul{
        margin: 0;
    }
    .checkoutSuccess img{
        margin: 33.2px 0px 0px 0px;
    }
    .checkoutSuccess a{
        margin: 209.34px 0px 0px 0px;
        width: 100%;
    }
    /* checkoutSuccess-page-end */


}
/* RWD-end */